/* 全局CSS定义 */
body,input,select,textarea,table,a,ul,li,tr,td{ font-family:"Microsoft Yahei","微软雅黑",Arial,Helvetica,sans-serif,"宋体"; font-size:12px; color:#333;}
div,form,img,ul,ol,li,dl,dt,dd{margin: 0; padding: 0; border: 0;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}

body,div,ul,li,form,table,ol,dl,dt,dd{margin:0px;padding:0px;list-style:none;border:0px;}
textarea {overflow:auto;}

form{display:inline}
body > div {margin:0 auto}
body{overflow:hidden; background:url("../images/bg.gif") repeat fixed top;}
.clear{clear:both; height:0px; font-size:0px; line-height:0px; overflow:hidden}

table,td,tr,th{ font-size:12px;}

/* 链接颜色 */
a{color: #4183C4;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}
a:active{}

#content{ width:100% }
#snake{border:10px solid #ccc;  margin:0 auto; display:block}