body{overflow: auto;}


input.ibox{width:240px; margin-left:3px;}

.bottom{text-align:center; margin-top:20px; border-top:1px solid #ddd; padding-top:5px;}

.summary, .name{width:400px; height:80px; border:1px solid; border-color:#777 #ccc #ccc #888;}
.name{padding-left:3px; width:400px; height:22px; line-height:22px;}
input, textarea{ outline:none }
