<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="./t.js"></script>
		
		
	</head>
	<body>
		
		<div>
			Name: <t>name</t>
		</div>
		
		<div>
			Password: <t name="password"></t>
		</div>
		
		<div>
			tel: <t name="tel"></t>
		</div>
		
		<div>
			tel: <span name="tel"></span>
		</div>
		
		<div>
			<ul class="">
				<for name="list">
					<li index="{$i}" length="{$length}"><a href="{$url}">{$name}</a></li>
					<for name="list">
						{?$isOpen}The file {@$file} is open!{:}The file {@$file} is close!{/}
					</for>
				</for>
			</ul>
		</div>
		
		<div>
			<if name="isClose">
				The file {$file} is open!
				
				<if name="isOpen">~~~The file {$file} is open!~~~</if>
			</if>
			
			<br>
			<code>
				{?$isOpen}The file {$users.a} is open!{:}The file {$file} is close!{/}
			</code>
		</div>
		
		<script type="text/javascript">
			var a = 0, b = "", c = null, d = false, e = [], f = {}, g;
			
			console.log(!b);
			console.log(!c);
			console.log(!d);
			console.log(!e);
			console.log(!f);
			console.log(!g);
			
			var list = {
				name: "fanx",
				password: "byfx1989A",
				tel: "15901210000",
				users: {a:"name_A", b:"name_B"},
				list: [
					{name:"baidu", url:"http://www.baidu.com", isOpen: true},
					{name:"google", url:"http://www.google.com", isOpen: false}
				],
				isOpen: true,
				isClose: false,
				file: "file.txt"
			}
			
			window.onload = function() {
				//new newTemplate(list, {tag:"t"});
			}
	
			str = "<% var a = '// 1212'; // zhu she //11 \n %>"
				+ "1122";
			
			
			str = str.replace(new RegExp("(\<\%[^\%\>]*)//.*","g"), "$1");
			console.log(str);
		</script>
	</body>
</html>