<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="./t.js"></script>
		
		
	</head>
	<body>
		
		<div>
			Name: <t>name</t>
		</div>
		
		<div>
			Password: <t name="password"></t>
		</div>
		
		<div>
			tel: <t name="tel"></t>
		</div>
		
		<div>
			tel: <span name="tel"></span>
		</div>
		
		<div>
			<ul class="">
				<for name="list">
					<li index="{$i}" length="{$length}">
						<a href="{$url}">{$name}</a>
						<ul>
						<for name="users">
							<li index="{$i}" length="{$length}">{$a}-{$b}</li>
						</for>
						</ul>
					</li>
				</for>
			</ul>
		</div>
		
		<div>
			<if name="isClose">
				The file {$file} is open!
				
				<if name="isOpen">~~~The file {$file} is open!~~~</if>
			</if>
			
			<br>
			<code>
				{?$isOpen}The file {$users.a} is open!{:}The file {$file} is close!{/}
			</code>
		</div>
		
		<script type="text/javascript">
			var a = 0, b = "", c = null, d = false, e = [], f = {}, g;
			
			console.log(!b);
			console.log(!c);
			console.log(!d);
			console.log(!e);
			console.log(!f);
			console.log(!g);
			
			var list = {
				name: "fanx",
				password: "byfx1989A",
				tel: "15901210000",
				users: {a:"name_A", b:"name_B"},
				list: [
					{
						name:"baidu",
						url:"http://www.baidu.com",
						isOpen: true,
						users:[{u:"baidu_u_a", p:"baidu_p_a"}, {u:"baidu_u_b", p:"baidu_p_b"}, {u:"bing_u_b", p:"bing_p_b"}]
					},
					{
						name:"google",
						url:"http://www.google.com",
						isOpen: false,
						users:[
						{u:"google_u_a", p:"google_p_a"}, {u:"google_u_b", p:"google_p_b"}]
					}
				],
				isOpen: true,
				isClose: false,
				file: "file.txt"
			}
			
			window.onload = function() {
				new newTemplate(list, {tag:"t"});
			}
	
		</script>
	</body>
</html>